.container{
  width:1170px;
}

.debug .row [class*="col-"] {
  /* background-color: pink; */
  border: 1px solid black;
}
.about .row [class*="col-"]  {
  border: 1px solid black;
  background-color: red;
}
/* DA TOGLIERE */
.debug .row{
height: 150px;
}
.about .row{
  height:300px;
}
/* DA TOGLIERE */
.debug .row [class*="col-"] {
  height: 100%;
}
.about .row [class*="col-"] {
  height:100%;
}
main{
  margin-top:10%;
  margin-bottom: 5%;
}
.mt_5{
  margin-top: 5%;
}
