.container{
  width:1170px;
  margin:auto;
}
.debug .row [class*="col-"] {
  /* background-color: pink; */
  border: 1px solid black;
}
/* DA TOGLIERE */
.debug [class*='col-'] {
  height:150px;
}
/* DA TOGLIERE */
main{

  margin-bottom: 5%;
}
#portfolio{

}
.mt_5{
  margin-top: 5%;
}
.bg_turquoise{
  background-color:#53FFBD;
}
.bg_darkblue{
  background-color:rgb(26, 75, 99);
}
.bg_blue{
  background-color:rgb(82, 127, 150);
}

.img_portfolio{
  width: 100%;

  background-size:cover;
  border-radius: 20px;
}
